*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type: none;
}
.menu{
    /* position:absolute;
    top:50px; left:auto; */
    width:100%; height:70px;
    /* border:1px solid black; */
    display:flex;
    justify-content: center;
    align-items:center;
}
.menu li{
    width:200px; height:50px;
    border:1px solid green;
    border-radius: 15px;
    /* font-size:1.2rem; */ 
    text-align: center;
    line-height: 50px;
    margin-right:100px;
    cursor: pointer;
}
.menu li:last-child{
    margin-right:0;
}
section{
    position:absolute;
    top:70px; left:0;
    width:100%; height:90%;
    border:1px solid black;
    display: flex;
}
section div{
    border:1px solid blue;
}
.left{
    width:10%; height:100%;
    /* border:1px solid black; */
}
.left div{
    width:80%; height:50px;
    margin:50px auto;
    line-height:50px;
    cursor:pointer;
    text-align: center;
}
.right{
    width:90%; height:100%;
    /* background:black; */
    /* border:1px solid black; */
}
.right div{
    width:100%;
    border:5px solid rgb(121, 192, 50);
}
.right div:nth-child(1){
    height:90%;
    border:1px solid red;
}
.right div:nth-child(2){
    height:10%;
    border:1px solid red;
}
/* 
    해당 메뉴의 본문이 나오는 공간(h:90%)
    자식태그(article)를 absolute 하기 위해
*/
.right .right_up{
    position: relative;
    top:0; left:0;
    width:100%; height:100%;
    border:10px solid rgb(18, 152, 78);
}
/* 
    article:각각 메뉴의 본문 내용 표시
*/
.right .right_up article{
    position:absolute;
    top:70px; left:0;
    width:100%; height:100%;
    display:none;
}
.right .right_up .at3{
    display:block;
}

section .title{
    position:absolute;
    top:0; left:15%;
    width:80%; height:50px;
    line-height: 50px;
    border:1px solid red;
    font-size:2rem;
}
.right .right_up .at0_box{
    position: absolute;
    top:0; left:0;
    width:100px; height:100px;
    border:1px solid black;
    border-radius:100%;
    text-align: center;
    background : white;
    color:black;
    opacity: 0.4;
    
}
.right .right_up .at0 .at0_box0{top:50px; left:50px }
.right .right_up .at0 .at0_box1{top:170px; left:350px}
.right .right_up .at0 .at0_box2{top:250px; left:870px}
.right .right_up .at0 .at0_box3{top:350px; left:420px}
.right .right_up .at0 .at0_box4{top:180px; left:80px}
.right .right_up .at0 .at0_box5{top:450px; left:550px}
.right .right_up .at0 .at0_box6{top:310px; left:160px}
.right .right_up .at0 .at0_box7{top:150px; left:200px}
.right .right_up .at0 .at0_box8{top:500px; left:370px}
.right .right_up .at0 .at0_box9{top:150px; left:490px}